<footer class="footer bg-base-200/60 p-10">
  <form class="gap-6">
    <div class="flex items-center gap-2 text-xl font-bold text-base-content">
      <span class="icon-[tabler--fish-bone] size-10 text-primary">
      </span>
      <span>Track Record</span>
    </div>
    <p class="text-base-content text-sm"> Discover musical wisdom & insights <br /> from the world's greatest tracks. </p>
    <fieldset>
      <label class="label-text" for="subscribeLetter"> Subscribe to newsletter </label>
      <div class="flex w-full flex-wrap gap-1 sm:flex-nowrap">
        <input class="input input-sm" id="subscribeLetter" placeholder="johndoe@gmail.com" />
        <button class="btn btn-sm btn-primary" type="submit">Subscribe</button>
      </div>
    </fieldset>
  </form>
  <nav class="text-base-content">
    <h6 class="footer-title">Services</h6>
    <a href="#" class="link link-hover">Branding</a>
    <span>
      <a href="#" class="link link-hover">Design</a>
      <span class="badge badge-sm badge-primary ms-2">New</span>
    </span>
    <a href="#" class="link link-hover">Marketing</a>
    <a href="#" class="link link-hover">Advertisement</a>
  </nav>
  <nav class="text-base-content">
    <h6 class="footer-title">Company</h6>
    <a href="#" class="link link-hover">About us</a>
    <a href="#" class="link link-hover">Contact</a>
    <a href="#" class="link link-hover">Jobs</a>
    <a href="#" class="link link-hover">Press kit</a>
  </nav>
  <nav class="text-base-content">
    <h6 class="footer-title">Legal</h6>
    <a href="#" class="link link-hover">Terms of use</a>
    <a href="#" class="link link-hover">Privacy policy</a>
    <a href="#" class="link link-hover">Cookie policy</a>
  </nav>
</footer>